@model InventoryManagementSystem.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>Customer Management</h4>
        <h6>Add/Update Customer</h6>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <form class="row" asp-action="Create">
            <div class="col-lg-3 col-sm-6 col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName"/>
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="ContactNumer"></label>
                    <input asp-for="ContactNumer"  />
                    <span asp-validation-for="ContactNumer"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" />
                    <span asp-validation-for="Age"></span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <label asp-for="CreatedDate"></label>
                <input asp-for="CreatedDate" type="date" class="form-control" />
                <span asp-validation-for="CreatedDate"></span>
            </div>

            <div class="col-lg-12 mt-3">
                <input type="submit" value="Create" class="btn btn-submit me-2" />
                <a asp-action="Index" class="btn btn-cancel">Back to List</a>
            </div>
        </form>
    </div>
</div>