@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@inject InventoryManagementSystem.Services.NotificationService NotificationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>QuickTrack</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/plugins/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"></div>
    </div>

    <div class="main-wrapper">
        <div class="header">
            <div class="header-left active">
                <a asp-controller="Admin" asp-action="Index" class="logo mt-2">
                    <img src="~/img/Logo-new.png" style="width: 200px;" alt="">
                </a>
                <a asp-controller="Admin" asp-action="Index" class="logo-small mt-2">
                    <img src="~/img/Logo-shortform.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);"></a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">
                

                <!-- Notification Bell -->
                <ul class="nav user-menu">
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle nav-link bell-icon" data-bs-toggle="dropdown" id="notificationBell">
                            <img src="~/img/icons/notification-bing.svg" alt="img">
                            <span id="notificationCount" class="badge rounded-pill">@ViewBag.NotificationCount</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end p-2" style="width: 350px;">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h6 class="dropdown-header text-start flex-grow-1 m-0">Notifications</h6>
                                <button class="btn btn-link btn-sm text-danger p-0" onclick="clearAllNotifications()">Clear All</button>
                            </div>

                            <ul class="list-group list-group-flush" id="notificationList">
                                <!-- Notifications will be added here dynamically -->
                            </ul>

                            <div class="text-center mt-2">
                                <a asp-controller="Notification" asp-action="Index" class="btn btn-link btn-sm">View all Notifications</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/img/profiles/avator1.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/img/profiles/avator1.jpg" alt="">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>@HttpContextAccessor.HttpContext.Session.GetString("FullName")</h6>
                                    <h5>@HttpContextAccessor.HttpContext.Session.GetString("UserRole")</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" asp-controller="Account" asp-action="Logout">
                                <img src="~/img/icons/log-out.svg" class="me-2" alt="img">Logout
                            </a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a asp-controller="Admin" asp-action="Index">
                                <img src="~/img/icons/dashboard.svg" alt="img"><span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/img/icons/purchase1.svg" alt="img"><span>
                                    Inventory
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="Products" asp-action="Index">Total Items</a></li>
                                <li><a asp-controller="LowStock" asp-action="Index">Low Stock</a></li>
                                <li><a asp-controller="ExpiredItems" asp-action="Index">Expired Items</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/img/icons/return1.svg" alt="img"><span>
                                    Return
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="ReturnItems" asp-action="Index">Item Return List</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/img/icons/users1.svg" alt="img"><span>
                                    People
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>

                                <li><a asp-controller="Admin" asp-action="ManageUsers">User List</a></li>
                                <li><a asp-controller="Customers" asp-action="Index">Customer List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/img/icons/time.svg" alt="img"><span>
                                    Smart Report
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="AiReporting" asp-action="SalesTrend">Sales Trend Report</a></li>
                                <li><a asp-controller="AiReporting" asp-action="ProductInsights">Products Insight Report</a></li>
                                <li><a asp-controller="AiReporting" asp-action="CustomerSegmentation">Patterns and Preferences</a></li>

                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>


        <div class="page-wrapper">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="~/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/plugins/apexchart/chart-data.js"></script>
    <script src="~/plugins/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/script.js"></script>

    <!-- SignalR Live Notifications -->
    <!-- Add SignalR client script (include this in the <head> or before closing body tag) -->
    <!-- Add the necessary SignalR script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <script type="text/javascript">
        // Create a connection to the SignalR hub
        var connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();

        // Start the SignalR connection
        connection.start().then(function () {
            console.log("SignalR Connected!");
        }).catch(function (err) {
            console.error(err.toString());
        });

        // When a notification is received via SignalR
        connection.on("ReceiveNotification", function (message) {
            // Increase the notification count
            var notificationCount = parseInt($('#notificationCount').text()) + 1;
            $('#notificationCount').text(notificationCount);

            // Add the new notification at the top
            var notificationItem = `<li class="list-group-item">
                                            <div class="d-flex justify-content-between">
                                                <div class="fw-bold">${message}</div>
                                            </div>
                                        </li>`;
            $('#notificationList').prepend(notificationItem);
        });

        // Clear all notifications
        function clearAllNotifications() {
            $.ajax({
                url: '/Notification/ClearAll',
                type: 'POST',
                success: function (response) {
                    $('#notificationList').empty();
                    $('#notificationCount').text('0');
                },
                error: function () {
                    alert("Failed to clear notifications");
                }
            });
        }

        // Fetch notifications when notification dropdown is opened
        $(document).ready(function () {
            $('#notificationBell').on('click', function () {
                $.get('/Notification/GetNotifications', function (data) {
                    $('#notificationList').empty();
                    if (data.length === 0) {
                        $('#notificationList').append(`<li class="list-group-item text-center text-muted">No new notifications</li>`);
                    } else {
                        data.forEach(function (notification) {
                            var notificationItem = `<li class="list-group-item">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="fw-bold">${notification.message}</div>
                                                                                <small class="text-muted" style="white-space: nowrap">${new Date(notification.createdAt).toLocaleDateString()}</small>
                                                            </div>
                                                        </li>`;
                            $('#notificationList').append(notificationItem);
                        });
                    }
                    $('#notificationCount').text(data.length);
                });
            });
        });
    </script>

</body>
</html>
