@model InventoryManagementSystem.Models.Returnitem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>Edit Return Item</h4>

    </div>
</div>


<div class="card">
    <div class="card-body">
        <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" />
            <input type="hidden" asp-for="ProductId" />
            <div class=" col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="ReturnQuantity"></label>
                    <input asp-for="ReturnQuantity" type="text">
                    <span asp-validation-for="ReturnQuantity"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="ReturnReason"></label>
                    <select asp-for="ReturnReason" class="form-control"></select>
                    <span asp-validation-for="ReturnReason"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="ReturnDate"></label>
                    <input asp-for="ReturnDate" class="form-control" type="date" />
                    <span asp-validation-for="ReturnDate"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="ProductId"></label>
                    <select asp-for="ProductId" asp-items="ViewBag.ProductId" class="form-control" ></select>
                    <span asp-validation-for="ProductId"></span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="form-group">
                    <label asp-for="TransactionId"></label>
                    <select asp-for="TransactionId" asp-items="ViewBag.TransactionId" class="form-control"></select>
                    <span asp-validation-for="TransactionId"></span>
                </div>
            </div>
         
            <div class="col-lg-12">
                <input class="btn btn-submit me-2" type="submit" value="Save"/>
                <a asp-action="Index" class="btn btn-cancel">Back to List</a>
            </div>

        </form>
    </div>
</div>

